/* Layout.css */
.layout {
    display: flex; 
    height: 100vh;  
  }

  
@media screen and (max-width: 900px){
  .layout {
    display: flex; 
    height: auto;  
  }

}
  
  
  .page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }