.landingpage{
    width: 100%;
    display: flex;
    height: 100vh;
}

.landingleft{
    padding: 40px 0;
    flex-basis: 50%;
    background: #191919;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

.team-img {
    position: relative;
    width: 60%;
    margin: 0 auto;
    background: #222222;
    height: 300px; /* Adjust the height as needed */
    border-radius: 40px;
    overflow: hidden; /* Ensure the rotating images stay within the team-img div */
}

.team-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the team-wrap div is above rotating images */
    width: 150px;
    height: 150px;
    background: #2E2E2E;
    border-radius: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-wrap img {
    width: 60%;
    background: transparent;
}

.orbit-one {
    position: absolute;
    width: 60px; 
    height: 60px; 
    background: #2E2E2E; /* Adjust the background color of the rotating images */
    border-radius: 50%;
    top: calc(50% - 70px); /* Adjust the distance from the top of the team-img div */
    left: calc(50% + 100px);
}

.orbit-two {
    position: absolute;
    width: 60px; 
    height: 60px; 
    background: #2E2E2E; /* Adjust the background color of the rotating images */
    border-radius: 50%;
    top: calc(50% + 50px); /* Adjust the distance from the top of the team-img div */
    left: calc(50% + 100px)
}

.orbit-three {
    position: absolute;
    width: 60px; 
    height: 60px; 
    background: #2E2E2E; /* Adjust the background color of the rotating images */
    border-radius: 50%;
    top: calc(50% + 20px); /* Adjust the distance from the top of the team-img div */
    left: calc(50% - 170px);
}

.orbit-four {
    position: absolute;
    width: 60px; 
    height: 60px; 
    background: #2E2E2E; /* Adjust the background color of the rotating images */
    border-radius: 50%;
    top: calc(50% - 100px); /* Adjust the distance from the top of the team-img div */
    left: calc(50% - 150px);
}

.slide-con{
    width: 80%;
    margin: 0 auto;
    background: #222222;
    padding: 30px;
    text-align: center;
    border-radius: 40px;
}

.slider{
    background: #222222;   
}

.slide-text{
    background: #222222; 
}

.slide-con p{
    font-size: 20px;
    font-family:'Aoenik-Bold';
    background: #222222;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

.slide-con span{
    font-family:'Aoenik-Regular';
    background: #222222;
    text-align: center;
}

.navigation{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    background: #222222;
}

.pagination{
    display: flex;
    align-items: center;
    gap: 5px;
    background: #222222;
}

.slid{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #2E2E2E;
}

.eclipse{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in 0.3s;
    cursor: pointer;
}

.eclipse:hover{
    background: #2E2E2E; 
}

.eclipse img{
    width: 20px;
    height: 20px;
    background: transparent;
    transform: rotate(-90deg);

}

/* Add this to your CSS file */
.slide.active {
    display: block;
    background: #222222;
  }
  
  .slide {
    display: none;
    transition: all ease-in 0.3s;
  }
  
  .slid.active {
    background-color: #DBBDF6; /* Change to desired active color */
  }

.landingright{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 8%;
    background: #0C0C0C;
    background: #0C0C0C;
}

.landingright img{
    width: 25%;
    object-fit: cover;
    background: transparent;
}

.landingright p{
    font-size: 18px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-family:'Aoenik-Regular';
    line-height: 24px;
    background: transparent;
}

.auth-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20%;
    text-align: center;
    background: transparent;
}


.auth-details span{
    background: transparent; 
}

.auth-details p{
    font-size: 16px;  
}

.centered-text{
    font-size: 14px;
    text-align: center;
}

.colored-sign{
    color:#8C29E4 ;
    font-family:'Aoenik-Bold';
    background: transparent; 
}

.auth-details button{
    width: 100%;
    font-size: 16px;
    font-family:'Aoenik-Regular';
    background: #8C29E4;
    padding: 12px 0;
    border: 2px solid #8C29E4;
    border-radius: 6px;
    outline: none;
    transition: all ease-in 0.3s;
    cursor: pointer;
}

.auth-details button:hover{
    background: #771ac9;
    border: 2px solid #a74cf7;
}


@media screen and (max-width: 900px){
    .landingleft{
        flex-basis: 50%;
        display: none;
    }
               
    .landingright{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0 8%;
        background: #0C0C0C;
    }
        
}