.landingpage{
    width: 100%;
    display: flex;
    height: 100vh;
}

.landingleft{
flex-basis: 50%;
}

.landingleft img{
    width: 100%;
    height: 100%;
}

.landingright{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 8%;
    background: #0C0C0C;
    background: #0C0C0C;
}

.landingright img{
    width: 25%;
    object-fit: cover;
    background: transparent;
}

.landingright p{
    font-size: 18px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-family:'Aoenik-Regular';
    line-height: 24px;
    background: transparent;
}

.auth-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20%;
    text-align: center;
    background: transparent;
}


.auth-details span{
    background: transparent; 
}

.auth-details p{
    font-size: 16px;  
}

.centered-text{
    font-size: 14px;
    text-align: center;
}

.colored-sign{
    color:#8C29E4 ;
    font-family:'Aoenik-Bold';
    background: transparent; 
}

.auth-details button{
    width: 100%;
    font-size: 16px;
    font-family:'Aoenik-Regular';
    background: #8C29E4;
    padding: 12px 0;
    border: 2px solid #8C29E4;
    border-radius: 6px;
    outline: none;
    transition: all ease-in 0.3s;
    cursor: pointer;
}

.auth-details button:hover{
    background: #771ac9;
    border: 2px solid #a74cf7;
}


@media screen and (max-width: 900px){
    .landingleft{
        flex-basis: 50%;
        display: none;
    }
               
    .landingright{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0 8%;
        background: #0C0C0C;
    }
        
}